<?xml version="1.0" encoding="UTF-8"?>
<suite name="Regression Suite" parallel="tests">
	<test name="Chrome test">
	<parameter name="browser" value="chrome"></parameter>
		<classes>
				<class name="selenium.textVerification">
			</class>
		</classes>
	</test>
	
	<test name="Firefox test">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="selenium.textVerification">
			</class>
		</classes>
	</test>
	
	<test name="Internet Explorer test">
		<parameter name="browser" value="IE"></parameter>
		<classes>
			<class name="selenium.textVerification">
			</class>
		</classes>
	</test>
</suite>







